<template>
  <b-collapse :id="`donators-${reward}`"
    v-if="donators[`rwd-${reward}`].length > 0">
    <b-list-group>
      <b-list-group-item
        href="#"
        class="flex-column align-items-start"
        v-for="(donator, index) in donators[`rwd-${reward}`]"
        :key="index">
        <div class="w-100 justify-content-between">
          <div class="donator-date">
            <small>{{ donator.date | moment('from', 'now') }}</small>
          </div>
          <span v-if="donator.nickname !== 'Anonymous'"
            class="rounded-circle letter-avatar pull-left"
            aria-hidden="true"
            :style="`background: ${['#ffd4d0', '#ffddbe', '#d7f0dc', '#b8efff'][Math.floor(Math.random() * 4)]}`"
            v-text="donator.nickname.replace(/[^a-zA-Z0-9]/g, '').substr(0, 1).toUpperCase()"
          ></span>
          <span v-else
            class="rounded-circle letter-avatar pull-left"
            aria-hidden="true"
          >
            <i class="fa fa-user"></i>
          </span>
          <h5 class="pull-left">
            <span class="don">
              {{ $n(donator.don, 'eur') }}
            </span>
            <br>
            <span v-if="donator.nickname !== 'Anonymous'" class="nickname">
              {{ donator.nickname }}
            </span>
            <span v-else
              v-html="$t('home.funding.anonymous')"
              class="nickname"
            ></span>
          </h5>

        </div>
      </b-list-group-item>
    </b-list-group>
  </b-collapse>
</template>

<script>
export default {
  props: {
    donators: {
      type: Object,
      required: true,
    },
    reward: {
      type: Number,
      required: true,
    },
  },
}
</script>
